# Created by .ignore support plugin (hsz.mobi)
RUNNING_PID
.idea
.sbtserver
target
project/target
project/project
.vagrant
project/.sbtserver
project/sbt-ui.sbt
project/.sbtserver.lock
project/play-fork-run.sbt